@page
@model WebApplication3.Pages.AttractionsModel
@{
    ViewData["Title"] = "Atrakcje";
}

<h2>Dostępne atrakcje</h2>

<!Doctype html>
<html>
<head>

</head>

<body>
    <p align="justify">
        <img src="~/images/water-139249_640.jpg" align="left" width="200" height="190" hspace="10" />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam quis cursus arcu. Nullam accumsan nibh eu sagittis mollis.
        Sed ultrices dui quis urna sagittis, sit amet ultricies arcu tincidunt.
        Nullam orci lacus, lacinia vitae ornare quis, mollis id mauris.
        Vestibulum varius magna id tellus fringilla ullamcorper.
        Vestibulum auctor ante eget mollis mattis. Fusce vestibulum tristique malesuada.
        Vivamus hendrerit aliquam justo, a eleifend sem accumsan eget.
        Nullam ut nibh et erat dignissim consectetur.
    </p>

    <p align="justify">
        Morbi tincidunt urna quam, vitae semper felis tincidunt ut.
        Sed at luctus lorem. Aenean sit amet eros sit amet nisl egestas dictum.
        Integer nec metus ut elit vehicula venenatis. Ut efficitur venenatis eleifend.
        Vestibulum porta nisl sit amet diam elementum, nec condimentum nunc scelerisque.
        Nulla pretium tincidunt erat, ac efficitur ante hendrerit at.
        Donec pharetra purus eu neque aliquet, et imperdiet lectus convallis.
        Vestibulum tempor tortor vestibulum vestibulum volutpat. Suspendisse potenti.
        Quisque non odio et elit malesuada tincidunt quis vel lectus.
        Donec neque leo, vestibulum vel pharetra ac, molestie eget ipsum.
    </p>

    <p align="justify">
        <img src="~/images/fisherman-585707_640.jpg" align="right" width="200" height="200" hspace="10" />
        Praesent maximus velit justo, sit amet mattis urna condimentum quis.
        Ut mattis aliquet orci, quis cursus diam tempus facilisis.
        Nullam maximus vel risus interdum dapibus.
        Nam sit amet nunc condimentum, bibendum ligula sit amet, iaculis libero.
        Praesent mattis sapien egestas urna finibus vehicula. Phasellus feugiat ultricies tincidunt.
        Duis euismod sem urna, non semper erat euismod sed. Nulla accumsan volutpat congue.
        Cras fermentum nibh vel iaculis aliquet.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Nulla eget nisi id turpis aliquam rutrum. Aliquam blandit nisi vitae molestie auctor.
        Pellentesque sed ultrices diam.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Donec ex nunc, porttitor et ex sed, ornare elementum orci.
    </p>

    <p align="justify">
        Donec non iaculis est.
        Etiam quis enim eu sem pellentesque porta.
        Sed id velit et risus malesuada faucibus. Nulla semper quam eu suscipit venenatis.
        Fusce eu dolor vitae nulla venenatis volutpat porta in massa.
        Aliquam aliquam nulla ac posuere blandit.
        Vivamus vitae sagittis orci. Mauris vestibulum mauris id magna dictum, eu venenatis lectus consectetur.
        Cras tincidunt venenatis placerat. Pellentesque luctus vehicula tortor, vel maximus ligula pharetra ac.
        Praesent eget turpis nec nibh porttitor sagittis. Nam laoreet dapibus ligula sit amet tincidunt.
        Integer vel lorem feugiat, interdum leo eget, faucibus libero.
        Quisque condimentum vulputate ante et malesuada.
    </p>

    <p align="justify">
        <img src="~/images/beach-volleyball-499984_640.jpg" align="left" width="200" height="200" hspace="10" />
        Nam sit amet nunc sed purus sodales placerat ac eu libero.
        Cras eros sapien, dignissim nec gravida non, efficitur non risus.
        Sed tempor dignissim nibh, nec euismod est blandit sed. Phasellus ornare risus sem, quis tempor tellus varius eget.
        Suspendisse potenti. Sed lobortis velit sit amet lobortis volutpat. In at urna ac sem ultricies euismod.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vel sem est.
        Cras aliquam sapien ullamcorper, tincidunt tortor vel, laoreet nibh.
        Sed consequat maximus nisi, sit amet hendrerit ex fringilla sed.
        Mauris volutpat felis tempor elit facilisis elementum convallis a ex.
        Suspendisse ornare pellentesque orci.
    </p>

    <p align="justify">
        Nam sit amet nunc sed purus sodales placerat ac eu libero.
        Cras eros sapien, dignissim nec gravida non, efficitur non risus.
        Sed tempor dignissim nibh, nec euismod est blandit sed. Phasellus ornare risus sem, quis tempor tellus varius eget.
        Suspendisse potenti. Sed lobortis velit sit amet lobortis volutpat. In at urna ac sem ultricies euismod.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vel sem est.
        Cras aliquam sapien ullamcorper, tincidunt tortor vel, laoreet nibh.
        Sed consequat maximus nisi, sit amet hendrerit ex fringilla sed.
        Mauris volutpat felis tempor elit facilisis elementum convallis a ex.
        Suspendisse ornare pellentesque orci.
    </p>
</body>
</html>

