@page
@model WebApplication3.Pages.PriceListModel
@{
    ViewData["Title"] = "PriceList";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cennik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        body {
            background: #ccebff !important;
        }
    </style>
</head>
<body>
    <br /><br /><br />
    <div class="container">
        <table class="table">
            <thead>
                <tr class="success">
                    <th>Rodzaj zakwaterowania</th>
                    <th>Cena za dobę</th>
                    <th>Cena za 2 doby</th>
                    <th>Cena za tydzień</th>
                    <th>Cena za 2 tygodnie</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>Domek 1 osobowy</td>
                    <td>120</td>
                    <td>200</td>
                    <td>560</td>
                    <td>840</td>
                </tr>
                <tr class="active">
                    <td>Domek 2 osobowy</td>
                    <td>140</td>
                    <td>240</td>
                    <td>700</td>
                    <td>1120</td>
                </tr>
                <tr class="active">
                    <td>Domek 3 osobowy</td>
                    <td>160</td>
                    <td>280</td>
                    <td>840</td>
                    <td>1400</td>
                </tr>
                <tr class="active">
                    <td>Domek 4 osobowy</td>
                    <td>200</td>
                    <td>380</td>
                    <td>1190</td>
                    <td>2100</td>
                </tr>
                <tr class="active">
                    <td>Pokój 2 osobowy</td>
                    <td>200</td>
                    <td>380</td>
                    <td>1190</td>
                    <td>2100</td>
                </tr>
                <tr class="active">
                    <td>Pokój 3 osobowy</td>
                    <td>220</td>
                    <td>400</td>
                    <td>1330</td>
                    <td>2380</td>
                </tr>
                <tr class="active">
                    <td>Pole kempingowe</td>
                    <td>60</td>
                    <td>100</td>
                    <td>280</td>
                    <td>420</td>
                </tr>
                <tr class="active">
                    <td>Pole namiotowe</td>
                    <td>30</td>
                    <td>50</td>
                    <td>180</td>
                    <td>280</td>
                </tr>

            </tbody>
        </table>
    </div>

</body>
</html>
